.ourMission-div{
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4rem;
    background-color: rgba(137, 138, 166, 0.35);
    border-radius: 20px;
}

.bg_img_om{
    width: 100%;
    height: 100vh;
    background-image: url(../../assests/images/Unflood.jpg);
    background-size: 105.9vw;
}